FRIGATE_RTSP_PASSWORD=<camera-rtsp-password>
FRIGATE_GATE_RTSP_PASSWORD_URLENCODED=<url-encoded-gate-camera-rtsp-password>
FRIGATE_PATIO_RTSP_PASSWORD_URLENCODED=<url-encoded-patio-camera-rtsp-password>
FRIGATE_MQTT_PASSWORD=<mosquitto-mqtt-password>

