UPLOAD_LOCATION=/mnt/omv/immich
DB_DATA_LOCATION=./postgres
IMMICH_SERVER_DIGEST=sha256:b434cb9287eea1471c9974845914d4dd328c9c2d652e446ed4930f99944f0ceb
IMMICH_MACHINE_LEARNING_DIGEST=sha256:5a0839dc5303cd7215bcd2180a26aed3af41675aefb3e75e5157e9f10ad16e6e
DB_PASSWORD=<IMMICH_DB_PASSWORD>
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
TZ=Europe/London
